@using FAR.DTOs
@model IEnumerable<FAR.DTOs.ProductosCarritoDTO>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_ProductoCarrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioUnitario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Carrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Producto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_ProductoCarrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Carrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_ProductoCarrito  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id_ProductoCarrito  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id_ProductoCarrito  })
            </td>
        </tr>
}
    </tbody>
</table>
