@model IEnumerable<FAR.DTOs.CarritoDTO>

@{
    ViewData["Title"] = "View";
}

<div class="content-wrapper">

<div class="col-12 col-md-12">
<h1>View</h1>
</div>


<section class="content">
    <div class="container-fluid">
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Carrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_venta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Carrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_venta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Carrito  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_Carrito  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_Carrito  })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</section>

</div>