@model IEnumerable<FAR.DTOs.CarritoDTO>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Carrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cancelado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total_venta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Carrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cancelado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total_venta)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Carrito  }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_Carrito  }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "DeleteV", new { id=item.Id_Carrito  }, new { @class = "btn btn-danger" }) 
            </td>
        </tr>
}
    </tbody>
</table>
