@using FAR.DTOs
@model IEnumerable<FAR.DTOs.ProductoDTO>

@{
    ViewData["Title"] = "View";
    var lista = (List<ProductoDTO>) ViewData["lista"];
    var productos = ViewData["productos"];
}
<div class="content-wrapper">
<section class="content-wrapper">
<div>
<h1>View</h1>
</div>
</section>

<section class="content">
    <div class="container-fluid">
<p>
    <a asp-action="Create">Agregar producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Habilitado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_ProductoCarrito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in lista) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Habilitado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_ProductoCarrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Categoria)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_Producto }, new { @class = "btn btn-primary" })  |
                @Html.ActionLink("Details", "Details", new { id=item.Id_Producto }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_Producto }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</section>
</div>