@model IEnumerable<FAR.DTOs.UsuariosRolDTO>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo_Usuario)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id_Rol  }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_Rol  }) |
                @*@Html.ActionLink("Delete", "ViewDelete", new {  id=item.Id_Rol  })*@
            </td>
        </tr>
}
    </tbody>
</table>
